* {
  margin: 0;
  padding: 0;
}

.App {}

.grid {
  display: flex;
  flex-direction: column;
  height: 90vh;
  aspect-ratio: 1 / 1;
  margin: auto;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: 1px solid white;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.row:nth-child(3) .cell,
.row:nth-child(6) .cell,
.row:nth-child(9) .cell {
  border-bottom: 1px solid white;
}

.cell {
  background: #333;
  color: white;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  flex: 1;
  display: flex;
  font-size: larger;
  font-weight: bold;
}

.small-container {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  
}

.small-number {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}

.blank-number {
  width: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-number {
  font-size: 2em;
  opacity: 0;
  animation: fadeIn 0.4s ease 0.4s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}